.container {
    display: flex;
    flex-direction: column;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}

.item {
    flex-grow: 1;
}

@media only screen and (min-width: 480px) {
    .container {
        flex-direction: row;
    }
}@media only screen and (min-width: 720px) {
    .container {
        background-color: blue;
    }
}
h1 {
    color: rgb(237, 5, 206);
    background-color: cyan;
}